.jumbotron {
    background-image: url(/assets/newspapers.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    border-radius: unset;
    padding-top: 175px;
    margin-bottom: 0px;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.281);
    background-attachment: fixed;
}

.title, .subTitle {
    font-family: 'Prata', serif;
    text-align: center;
    margin-left: 330px;
    margin-right: 330px;
    background-color: rgba(255, 255, 255, 0.651);
}

.title {
    font-size: 65px;
    margin-bottom: 0%;
    padding-top: 15px;
}

.subTitle {
    font-size: 30px;
    padding-bottom: 15px;
}

.article {
    background-color: rgba(51, 45, 46, 0.637);
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

